<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <meta name="description" content="@Page.MetaDescription" />
</head>
<body>
    <a href="/blog">Home</a>
    <a href="/categories">Categories</a>
    <a href="/tags">Tags</a>
    <a href="/authors">Authors</a>
    @RenderBody()
</body>
</html>
