<h1>Posts</h1>

@foreach(var post in ViewBag.Posts)
{
    <p>
        <a href="/post/@post.Slug">
            @post.Title
        </a>
    </p>
}
<p>
    @if (ViewBag.HasPrevious)
    {
        <a href="/page/@ViewBag.PreviousPage">Previous</a>
    }
    @if (ViewBag.HasNext)
    {
        <a href="/page/@ViewBag.NextPage">Next</a>
    }
</p>
